name: Audit Content with AI

on:
  workflow_dispatch:

permissions:
  models: read

jobs: 
  run-model:
    runs-on: ubuntu-latest
    steps:
      - name: Call Model
        id: call-model
        uses: actions/ai-inference@v1
        with:
          model: mistral-ai/ministral-3b
          script:
            prompt: |
              Say Hello!
      - name: Show Output
        run: echo "${{ steps.call-model.outputs.result }}"

