name: Audit Content with AI

on:
  workflow_dispatch:

permissions:
  models: read

jobs: 
  lists-posts:
    runs-on: ubuntu-latest
    outputs:
      items: ${{ steps.build.outputs.items }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build matrix items (name + content)
        id: build
        run: |
          ITEMS="[]"
            for f in ./content/posts/*.mdx; do
            NAME="$(basename "$f")"
            CONTENT="$(jq -Rs . < "$f")"
            ITEMS=$(jq --arg name "$NAME" --arg content "$CONTENT" \
                '. + [{name: $name, content: $content}]' <<< "$ITEMS")
            done
            echo "items<<EOF" >> "$GITHUB_OUTPUT"
            echo "$ITEMS" >> "$GITHUB_OUTPUT"
            echo "EOF" >> "$GITHUB_OUTPUT"
  echo-posts:
    needs: lists-posts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        item: ${{ fromJson(needs.lists-posts.outputs.items) }}
    steps:
      - name: Use both name and content from matrix
        run: |
          echo "Filename: ${{ matrix.item.name }}"
          echo "Content:"
          echo "${{ matrix.item.content }}"
    # run-model:
    #   runs-on: ubuntu-latest
    #   steps:
    #     - name: Call Model
    #       id: call-model
    #       uses: actions/ai-inference@v1
    #       with:
    #         model: mistral-ai/ministral-3b
    #         script:
    #           prompt: |
    #             Say Hello!
    #     - name: Show Output
    #       run: echo "${{ steps.call-model.outputs.result }}"